### please confirm the /home/pi/vehiclesensors-master path

# get temperature limits
@reboot cd /home/pi/vehiclesensors-master; python getLimitsAPI.py >> logs/master.log & 

# run master script - collect, save at DB; post to API
*/5 * * * * cd /home/pi/vehiclesensors-master; python -u master.py &>> logs/master.log &

# start if not running the assync detection of doors
* * * * * cd /home/pi/vehiclesensors-master; ps -ef|grep -v grep|grep runDoorsDetect.py || python -u runDoorsDetect.py &>> logs/runDoorsDetect.log &

# logrotate
59 * * * * cd /home/pi/vehiclesensors-master; sudo logrotate ./logrotate.conf 